<p class="pd-bottom10">カテゴリ: <%= @post.category.name %></p>


<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading">
    <p>タイトル: <%= @post.title %></p>
    <p><small>投稿者メール: <%= @post.user.email %></small></p>
  </div>
  <div class="panel-body post-min-height">
    <%= @post.body %>
  </div>
</div>